<% if venues == nil  %>
    <h3>Welcome</h3>
  <% elsif venues.empty? %>
    <h3>No results found for <%= query %> in that location<h3>
  <% elsif venues%>
    <% venues.each do |venue| %>
      <h3><%= venue['venue']['name'] %></h3>
      <p><%= venue['venue']['location']['formattedAddress'].join(" ") %></p>
    <% end %>
<% end %>

<script>
  var locations = JSON.parse("<%= locations %>".replace(/&quot;/g, '"'));
  createMap(locations);
  $('#myModal').modal('hide');
</script>