<% if venues == nil  %>
    <h3>Welcome</h3>
  <% elsif venues.empty? %>
    <h3>No results found for <%= query %> in that location<h3>
  <% elsif venues%>
    <% venues.each do |venue| %>
      <h3><%= venue['venue']['name'] %></h3>
      <p><%= venue['venue']['location']['formattedAddress'].join(" ") %></p>
    <% end %>
<% end %>

<div id="map" style="width: 500px; height: 400px;"></div>
  <script type="text/javascript">

    var locations = gon.global.google_map_array;

    debugger;
  
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(40.7127, -74.0059),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    debugger;

  </script>
