
  <%= render 'form' %>
<div class= "all-results">
<div class = "about">
  <h3> About </h3>
  <p>Wherethelocalsat is an app that allows you to search for the best restaurants that locals frequent.</p>
  <p> We used an algorithm that gives you only the restaurants with top ratings that people keep going back to. For this project, we used the <a href = "http://developer.foursquare.com">Foursquare API</a> to get the restaurants and their checkins and the <a href = "http://developers.google.com/maps/">Google Maps API</a> to visually show each location on the map.</p>
  <p>Check out our source code <a href = "https://github.com/ryannyunn/wherethelocalsat">here!</a></p>
</div>

  <div id="map" class= "col-md-6"></div>
  <div class="jumbotron hidden col-md-6" id= "results"></div>
</div>

<!-- Fact Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Loading...</h4>
      </div>
      <div id="fact" class="modal-body">
        Did You Know?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Fact Modal -->


