<div class="center">

<div class= "new-search">
  <%= render 'form' %>
</div>
<br>
<br>

<div class="jumbotron hidden" id= "results"></div>


  <div id="map" style="width: 500px; height: 400px;"></div>

</div>