.center h1{
  font-size: 350%;
  color: #fff;
}

#title a:visited{
  text-decoration: none;
  color: #fff;
}

#title a:hover{
  text-decoration: none;
  color: #d9534f;
}

#title a:link{
  text-decoration: none;
  color: #fff;
}

#title a:active{
  text-decoration: none;
  color: #fff;
}

.center h2{
  font-size: 150%;
  color: #fff; 
  padding-bottom: 2%;
}

.footer{
    text-align: center;
    /*background-color: #EFEFEF;*/
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 1px solid #dee1e9;;
}

#slash{
    color: #15bdde;
}

.fa{
   color: #d9534f; 
}
.about{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.about img{
    display: inline-block;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 8%;
}

.about img:hover{
    opacity: 0.5;
}
.about h1{
    padding-top: 10%;
}
.about p{
    padding-top: 2%;
    font-size: 125%; 
}
.ghost-button-rounded-corners {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.ghost-button-rounded-corners:hover,
.ghost-button-rounded-corners:active {
  background-color: #FF5050;
  color: #fff;
}

.form-group{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    color: #fff;
}

.form-block{
    padding-bottom: 2%;
}

.labels{
    font-weight: 300;
}

#results{
    height: 600px;
    overflow: scroll;
}

.all-results{
    display: inline;
    width: 100%;
}

#map {
   height: 600px;
}



body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    /*color: #f8f8f8;*/
    background: url(http://bashmedia123.com/wp-content/uploads/2014/12/restaurant2.jpg);
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.hidden {
    display: none;
}


#about {
    position: relative;
}
#about img {
    position: absolute;
    top: 0px;
    right: 0px;
}

